.index-input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 5px;
}

.index-input-field {
  width: 100%;
  font-family: var(--font-family);
  height: 50px;
  padding: 12px 14px;
  display: block;
  background-color: var(--white-color);
  color: var(--text-color);
  border: none;
  border-bottom: 3px solid var(--primary-color);
  font-size: 16px;
  outline: none;
  text-align: left;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.index-input-field:focus {
  border-color: var(--primary-color);
}

.index-input-field::placeholder {
  color: var(--primary-color);
  font-size: 16px;
}

.index-input-button-container {
  display: flex;
  padding-top: 5px;
  justify-content: flex-end;
}

.index-input-button {
  padding: 7px 20px;
  margin-left: auto;
  margin-top: 5px;
  background-color: var(--primary-color);
  color: var(--white-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.index-input-button:hover {
  background-color: var(--primary-color);
}

.index-input-button:disabled {
  background-color: var(--light-text-color);
  cursor: not-allowed;
}