.task-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%; 
    padding: 15px;
    background-color: var(--background-color) !important;
    transition: background-color 0.3s ease;
  }
  
  .todo-list.scrollable {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    overflow-y: auto; 
    flex-grow: 1;
  }
  
