.due-date {
  color: rgb(131, 131, 131);
}

.due-date.overdue {
  color: red;
}

.highlighted-border {
  border-left: 4px solid var(--primary-color) !important;
}

.default-border {
  border-left: 4px solid #ccc !important;
}

.custom-checkbox input[type="checkbox"] {
  accent-color: var(--primary-color);
  transition: all 0.2s ease-in-out;
  background-color: transparent;
  border-color: #ccc;
  border-radius: 2px;
}

.custom-checkbox input[type="checkbox"]:hover {
  cursor: pointer;
  background-color: var(--transparent-blue);
  border-color: var(--primary-color);
  box-shadow: 0 0 0 0.25rem var(--transparent-blue);
  transition: all 0.2s ease-in-out;
}

.custom-checkbox input[type="checkbox"]:focus {
  outline: none;
  border-radius: 2px;
}

.custom-checkbox input[type="checkbox"]:checked {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  border-radius: 2px;
}

.custom-checkbox input[type="checkbox"]:focus:not(:hover) {
  box-shadow: none;
}

.task-name {
  font-size: 1.2rem;
  color: #000;
}

.task-content {
  flex: auto;
  margin-left: -10px;
  word-break: break-word;
}

.task-title {
  margin-bottom: 4px;
}

.task-icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}

.reminder-btn {
  margin-right: -12px;
}

.reminder-icon {
  width: 22px !important;
  height: 22px !important;
  color: var(--primary-color);
  vertical-align: middle; 
}

.reminder-off {
  width: 27px !important;
  height: 27px !important;
  color: #cdcdcd !important;
  margin-right: -2px;
}

.fa-trash-alt {
  width: 22px !important;
  height: 22px !important;
  vertical-align: middle; 
  color: var(--primary-color);
}

.description-text {
  font-size: 0.9rem;
  color: #6c757d;
  word-break: break-word;
}

.task-description {
  font-size: 0.9rem;
  margin-top: 8px;
}

.edit-input {
  border: none;
  border-bottom: 3px solid var(--primary-color); 
  border-radius: 2px;
  padding: 4px;
  width: 100%;
  font-size: 1.2rem;
  outline: none;
}

.edit-input:focus {
  border-color: var(--primary-color);
}

.edit-description {
  width: 100%;
  padding: 2px 4px; 
  border: none;
  border-bottom: 3px solid var(--primary-color);
  border-radius: 2px;
  font-size: 0.9rem;
  line-height: 1.4; 
  outline: none;
  resize: none;
  overflow: hidden;
  box-sizing: border-box;
}

.edit-description:focus {
  border-color: var(--primary-color);
}

.edit-icon {
  color: #cdcdcd;
  margin-left: 8px;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.edit-icon:hover {
  color: var(--primary-color);
}

.task-card {
  margin-top: 10px;
}

.task-name {
  font-size: 1.2rem;
}

.description-text {
  font-size: 0.9rem;
  color: #6c757d;
}

.mt-2 {
  margin-top: 0; 
}