.due-date {
  color: rgb(131, 131, 131);
}

.due-date.overdue {
  color: red;
}

.highlighted-border {
  border-left: 4px solid #ffad54 !important;
}

.default-border {
  border-left: 4px solid #ccc !important;
}

.custom-checkbox input[type="checkbox"] {
  accent-color: #ffad54;
  transition: all 0.2s ease-in-out;
  background-color: transparent;
  border-color: #ccc;
}

.custom-checkbox input[type="checkbox"]:hover {
  cursor: pointer;
  background-color: rgba(255, 173, 84, 0.5);
  border-color: #ffad54;
  box-shadow: 0 0 0 0.25rem rgba(255, 173, 84, 0.5);
  transition: all 0.2s ease-in-out;
}

.custom-checkbox input[type="checkbox"]:focus {
  outline: none;
}

.custom-checkbox input[type="checkbox"]:checked {
  background-color: #ffad54;
  border-color: #ffad54;
}

.custom-checkbox input[type="checkbox"]:focus:not(:hover) {
  box-shadow: none;
}

.task-name {
  font-size: 1.2rem;
  color: #000;
}

.task-content {
  flex: auto;
  margin-left: -10px;
  word-break: break-word;
}

.task-title {
  margin-bottom: 4px;
}

.task-icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}

.reminder-btn {
  margin-right: -12px;
}

.reminder-icon {
  width: 22px !important;
  height: 22px !important;
  color: #ffad54;
  vertical-align: middle; 
  transition: filter 0.2s ease-in-out, brightness 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.reminder-icon:hover {
  filter: 
    drop-shadow(0 0 3px rgb(255, 255, 255, 1)) 
    drop-shadow(0 0 5px rgba(255, 173, 84, 0.9));
  transform: scale(1.1);
}

.reminder-off {
  width: 27px !important;
  height: 27px !important;
  color: #cdcdcd !important;
  margin-right: -2px;
}

.reminder-off:hover {
  color: #ffbb72 !important;
  filter: 
    drop-shadow(0 0 3px rgb(255, 255, 255, 1)) 
    drop-shadow(0 0 5px rgba(255, 170, 79, 0.9));
  transform: scale(1.1);
}

.fa-trash-alt {
  width: 22px !important;
  height: 22px !important;
  vertical-align: middle; 
  color: #dc3545;
  transition: color 0.2s ease-in-out, filter 0.2s ease-in-out;
}

.fa-trash-alt:hover {
  color: #ff0000;
  transform: scale(1.1);
  filter: drop-shadow(0 0 3px rgb(255, 255, 255)) 
          drop-shadow(0 0 5px rgba(255, 0, 0, 0.8));
  cursor: pointer;
}

.description-text {
  font-size: 0.9rem;
  color: #6c757d;
  word-break: break-word;
}

.task-description {
  font-size: 0.9rem;
  margin-top: 8px;
}

.edit-input {
  border: 2px solid #ffad54;
  padding: 4px;
  border-radius: 4px;
  width: 100%;
  font-size: 1.2rem;
  outline: none;
}

.edit-input:focus {
  border-color: #ffad54;
}

.edit-description {
  width: 100%;
  border: 2px solid #ffad54;
  padding: 4px;
  border-radius: 4px;
  font-size: 0.9rem;
  outline: none;
  resize: none;
}

.edit-description:focus {
  border-color: #ffad54;
  box-shadow: 0 0 4px rgba(255, 173, 84, 0.8);
}

.edit-icon {
  color: #cdcdcd;
  margin-left: 8px;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.edit-icon:hover {
  color: #ffad54;
}

.task-card {
  margin-top: 10px;
}

.task-name {
  font-size: 1.2rem;
}

.description-text {
  font-size: 0.9rem;
  color: #6c757d;
}
