.page-border {
  width: 100%;
  height: 100%;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 7px;
}

.indexing-upper-container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  border-radius: 8px;
  background-color: var(--white-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  padding: 20px;
  margin-bottom: 20px;
}

.nav-tabs {
  display: flex;
  padding: 0;
  margin: 0 0 30px 0 !important;
  margin-top: 5px;
  border-bottom: 2px solid var(--light-text-color);
}

.nav-tabs .nav-item {
  margin: 0 !important;
  padding: 0 !important;
  flex-grow: 1;
  text-align: center;
}

.nav-tabs .nav-item .subnav-link {
  padding: 6px 10px !important;
  font-size: 0.85rem;
  text-align: center;
  border: none;
  background-color: transparent;
  color: var(--text-color);
  font-family: var(--font-family);
}

.nav-tabs .nav-item .subnav-link:hover {
  color: var(--primary-color);
}

.nav-tabs .nav-item .subnav-link.active {
  color: var(--primary-color);
  font-weight: bold;
  background-color: transparent;
  border-bottom: 3px solid var(--primary-color);
}

.indexing-input-box {
  padding-top: 1%;
  text-align: center;
}

.indexing-lower-container {
  width: 100%;
  margin: 0 auto;
  border-radius: 8px;
  background-color: var(--primary-color);
  padding: 20px;
}

.list-name {
  width: 100%;
  max-width: 700px; 
  margin: 0 auto;
  padding: 5px 20px 5px 10px; 
  text-align: left;
  background-color: var(--white-color);
  border-radius: 8px;
  margin-bottom: 20px;
}

.section-title {
  font-size: 1.1rem;
  margin: 0;
  text-transform: capitalize;
  letter-spacing: 1px;
  color: var(--primary-color);
  font-family: var(--font-family);
}

