:root {
  --primary-color: #0069b9;
  --light-primary-color: #76baff;
  --secondary-color: #005A9E;
  --white-color: #ffffff;
  --light-gray-color: #F3F2F1;
  --text-color: #323130;
  --slight-light-text-color: #999999;
  --light-text-color: lightgray;
  --transparent-blue: rgba(0, 120, 212, 0.5);
  --hover-color: #e3f3ff;
  --black-color: #000000;
  --background-color: var(--white-color)

  --font-family: 'Segoe UI', 'Segoe UI Web (West European)', 'Helvetica Neue', sans-serif;
  --font-size: 14px;
  --line-height: 1.5;

  --border-shadow-big: 0 4px 6px rgba(0, 0, 0, 0.15); 
  --border-shadow-small: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

/* Dark mode */
[data-theme="dark"] {
  --primary-color: #76baff;
  --light-primary-color: #0069b9;
  --secondary-color: #4a90e2;
  --white-color: #1a1a1a;
  --light-gray-color: #2d2d2d;
  --text-color: #ffffff;
  --slight-light-text-color: #cccccc;
  --light-text-color: #999999;
  --transparent-blue: rgba(118, 186, 255, 0.5);
  --hover-color: #333333;
  --black-color: #ffffff;
  --background-color: #1a1a1a;

  --border-shadow-big: 0 4px 6px rgba(0, 0, 0, 0.7);
  --border-shadow-small: 0 4px 6px rgba(0, 0, 0, 0.7);
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0;
  overflow: hidden;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family);
  color: var(--primary-color);
  font-weight: 600;
  margin-top: 0;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--hover-color);
  text-decoration: underline;
}

button {
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 10px 20px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-family: var(--font-family);
  font-size: 14px;
}

button:hover {
  background-color: var(--hover-color);
}

.text-center {
  text-align: center;
}

.container {
  width: 90%;
  max-width: 100%;
  margin: 0 auto;
}

.tooltip {
  position: absolute;
  background-color: var(--white-color);
  color: var(--black-color);
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
  display: none;
  pointer-events: none;
  opacity: 0;
  transform: translateY(-5px);
  transition: opacity 0.2s ease-in-out, transform 0.15s ease-in-out;
  z-index: 1000;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.tooltip.show {
  opacity: 1;
}
