.overlay-popup {
    position: absolute;
    background: var(--white-color);
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 260px;
    padding: 10px;
    font-family: var(--font-family);
    box-sizing: border-box;
}


.reminder-popup {
    right: -80px;
}

.reminder-overlay.adjust-left {
    left: auto;
    right: 0;
    transform: translateX(0);
}

.overlay-options {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.preset-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 10px;
    cursor: pointer;
    font-size: 14px;
    color: var(--text-color);
    background-color: var(--white-color);
    border-radius: 4px;
}

.preset-option:hover {
    background-color: var(--hover-color) !important;
}

.option-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon {
    font-size: 20px !important;
    color: #9a9a9a !important;
    margin-right: 7px;
}

.label {
    font-size: 14px;
    color: var(--text-color);
}

.time {
    font-size: 13px;
    color: var(--text-color);
    white-space: nowrap;
}

.time-selector {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .time-selector label {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .time-selector select {
    width: 150px;
    padding: 5px;
    border: 1px solid var(--light-border-color);
    border-radius: 5px;
    font-size: 14px;
  }
  
.overlay-title {
  padding: 10px;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 1px solid #eee;
}

