.nav-tabs {
  border-bottom: none !important;
  margin-top: -7px !important; 
  margin-bottom: 0 !important;
  background-color: var(--white-color) !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-link {
  font-size: 14px;
  color: var(--primary-color) !important;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-bottom: 7px !important; 
  justify-content: center;
  border: none !important;
  background-color: transparent !important;
  transition: background-color 0.3s, color 0.3s, border-bottom 0.3s;
}

.nav-link:hover,
.nav-link.active:hover {
  text-decoration: none;
  background-color: var(--hover-color) !important;
}

.nav-link.active {
  border-bottom: 3px solid var(--primary-color) !important; 
  color: var(--primary-color) !important;
  background-color: transparent !important; 
}

.nav-link .icon {
  color: var(--primary-color) !important;
  transition: color 0.3s ease;
}
