.nav-tabs {
  border-bottom: none !important;
  margin-top: -7px !important; 
  margin-bottom: 0 !important;
  background-color: #ffffff !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-link {
  font-size: 14px;
  color: var(--primary-color) !important;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none !important;
  background-color: transparent !important;
  transition: background-color 0.3s, color 0.3s, border-bottom 0.3s;
}

.nav-link:hover {
  text-decoration: none;
  background-color: #cce9ff !important;
}

.nav-link.active {
  font-weight: bold;
  border-bottom: 3px solid #007bff !important; 
  color: var(--primary-color) !important;
  background-color: transparent !important; 
}
